:root {
  --primary-color: hsl(158, 36%, 37%);
  --secondary-color: hsl(30, 38%, 92%);

  --title-color: hsl(212, 21%, 14%);
  --paragraph-color: hsl(228, 12%, 48%);

  --card-color: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}
.container {
  display: flex;
  padding: 20px;
  min-height: 100vh;
}
.card {
  width: 375px;
  background-color: var(--card-color);
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
}

.card__image {
  width: 100%;
  object-fit: cover;
}

.card__details {
  padding: 25px;
  font-family: "Monserrat", sans-serif;
}

.card__tag {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--paragraph-color);
  letter-spacing: 5px;
}

.card__title {
  font-family: "Fraunces", sans-serif;
  color: var(--title-color);
  margin: 10px 0;
}

.card__paragraph {
  color: var(--paragraph-color);
  font-size: 14px;
}

.card__prices_wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.card__price {
  font-family: "Fraunces", sans-serif;
  font-size: 30px;
  color: var(--primary-color);
}

.card__discount {
  text-decoration: line-through;
  font-size: 14px;
  color: var(--paragraph-color);
  margin: 0 15px;
}

.card__button {
  border: none;
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 5px;
  color: var(--card-color);
}

.card__button:hover {
  opacity: 90%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.image--desktop {
  display: none;
}

.button--cart {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    width: 600px;
    margin: auto;
  }

  .card__image {
    width: 50%;
  }
  .card__details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .image--desktop {
    display: block;
  }

  .image--mobile {
    display: none;
  }
}
